body {
    margin: 0;
    font-family: Arial;
    background: #020617;
    color: white;
    overflow-x: hidden;
}

/* NEON */
.glow {
    color: #0ff;
    text-shadow:
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff;
}

/* NAV */
header {
    position: fixed;
    width: 100%;
    padding: 15px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: space-between;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SECCIONES */
.section {
    padding: 100px 40px;
}

/* CARDS */
.card {
    background: #0f172a;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    transition: 0.4s;
    border: 1px solid #0ff;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #0ff;
}

/* SKILLS */
.skills {
    display: flex;
    gap: 20px;
}

.skill {
    padding: 20px;
    border: 1px solid #0ff;
    border-radius: 10px;
    transition: 0.3s;
}

.skill:hover {
    box-shadow: 0 0 15px #0ff;
}

/* ICONOS */
.icon {
    font-size: 30px;
    margin-bottom: 10px;
    color: #0ff;
}

/* ANIMACIONES */
.hidden {
    opacity: 0;
    transform: translateY(50px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}

/* PARTICLES */
#particles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
